<mat-drawer-container 
[autosize]="true"
class="min-h-full max-w-7xl mx-auto border-x">
  <mat-drawer mode="side" opened class="p-6">
    <app-filters (showCategory)="onShowCategory($event)"></app-filters>
  </mat-drawer>
  <mat-drawer-content class="p-6">
    <app-search (searchTextChanged)="onSearchTextEntered($event)"
    class="justify-self-center w-full"></app-search>
   <app-products-header (columnsCountChange)="onColumnsCountChange($event)"
   (itemsCountChange)="onItemsCountChange($event)"
   (sortChange)="onSortChange($event)"></app-products-header>
   <mat-grid-list
    gutterSize="16"
    [cols]="cols"
    [rowHeight]="rowHeight"
    >
    <ng-container *ngFor="let product of products">
      <mat-grid-tile *ngIf="searchText === '' || product.title.toLowerCase().includes(searchText)">
        <app-product-box 
        [product]="product"
        (addToCart)="onAddToCart($event)"
        [fullWidthMode]= "cols === 1" class="w-full"> </app-product-box>
       </mat-grid-tile>
    </ng-container>
   </mat-grid-list>
  </mat-drawer-content>
</mat-drawer-container>